{% extends "ChamelleUserBundle::user.html.twig" %}

{% block title %}{{ parent() }} - Account{% endblock %}

{% block body %}

    <h4>Hello {{ name }}!</h4>
    
    <ul>
        <li> Change nickname </li>
        <li> Change email </li>
        <li> Change password </li>
    </ul>
    
{% endblock %}