{% extends "ChamelleUserBundle::user.html.twig" %}

{% block title %}{{ parent() }} - Teams{% endblock %}

{% block body %}
    <p>Ici on aura la liste des teams. A partir de là on pourra créer/éditer une team, y ajouter des membres, etc.</p>
{% endblock %}