{% extends "ChamelleStatBundle::stat.html.twig" %}

{% block title %}{{ parent() }} - Stats{% endblock %}

{% block body %}
<p>
    Ici on aura les stats, organisées par catégories et par teams (threads).
</p>
{% endblock %}