{% extends "ChamelleStatBundle::stat.html.twig" %}

{% block title %}{{ parent() }} - Stats{% endblock %}

{% block body %}

    <h4>Stats</h4>
    
    <ul>
        <li> Double tab system </li>
        <li> One tab line to choose charts </li>
        <li> Another tab line to choose thread (group by teams?) </li>
    </ul>
    
{% endblock %}