{% extends "ChamelleUserBundle::user.html.twig" %}

{% block title %}{{ parent() }} - Teams{% endblock %}

{% block body %}

    <h4>Teams</h4>
    
    <ul>
        <li> Create new team </li>
        <li> Display all teams </li>
        <li> For each team: </li>
        <ul>
            <li> Rename team </li>
            <li> View detail (members) </li>
            <li> Leave team </li>
            <li> Send invite </li>
            <li> Link to threads list </li>
        </ul>
    </ul>
    
{% endblock %}