{% extends "ChamelleUserBundle::user.html.twig" %}

{% block title %}{{ parent() }} - Reset password{% endblock %}

{% block body %}
    
    <h4>Lost your password?</h4>
    <p>
        Well, you're fucked!
    </p>
    
{% endblock %}