{% extends "ChamelleThreadBundle::thread.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}
<h3>Welcome to the future!</h3>
<p>
    All hell can't stop us now!
</p>
{% endblock %}