{% extends "ChamelleThreadBundle::thread.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}
<h3>Welcome to the future!</h3>
<p>
    It has to start somewhere... It has to start sometime...
    <br>
    What better place than here? What better time than now?
</p>
{% endblock %}