{% extends "ChamelleThreadBundle::thread.html.twig" %}

{% block title %}{{ parent() }} - Threads{% endblock %}

{% block body %}
<p>
    Ici on aura la liste des threads organisée par teams.
</p>
{% endblock %}